<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>


<meta charset="ISO-8859-1">

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <title>Spevitadas</title>

  <link rel="stylesheet" href="style.css" type="text/css" media="screen">
  <script type="text/javascript" src="JavaScript.js"></script>

</head>

<body style="background: white;">
	<div id ="h1">
		<img src="imagens/log.jpg"> 
	</div> 
    <div id="h2">
      <a href="Index.html" style="text-decoration: none"><font color="orange"><br><br>Principal</a>
    </div>
    <div id="h3">
      <a href="Sobre.html" style="text-decoration: none"><font color="orange"><br><br>Quem Somos</font></a>
    </div>
    <div id="h4">
		<a href="Contatos.html" style="text-decoration: none"><font color="orange"><br><br>Marcas</font></a>
    </div>
    <div id="h5">
      <a href="BeModel.html" style="text-decoration: none"><font color="orange"><br><br>BeModel</font></a>
    </div>
    <div id="h6">  
    	<a href="NossasLojas.html" style="text-decoration: none"><font color="orange"><br><br>Nossas Lojas</font></a>
    </div>
    <div id ="h7">
    	<a href="FaleConosco.html" style="text-decoration: none"><font color="orange"><br><br>Fale Conosco</font></a>
	</div>	
</body>
</html>