<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>


<meta charset="ISO-8859-1">

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  <title>Spevitadas</title>

  <link rel="stylesheet" href="style.css" type="text/css" media="screen">
  <script type="text/javascript" src="JavaScript.js"></script>
<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.5.1/fotorama.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.5.1/fotorama.js"></script> 

</head>

<body style="background: white;">
	<div id ="h1">
		<img src="imagens/log.jpg"> 
	</div> 
    <div id="h2">
      <a href="Index.html" style="text-decoration: none"><font color="orange"><br><br>Principal</a>
    </div>
    <div id="h3">
      <a href="Sobre.html" style="text-decoration: none"><font color="orange"><br><br>Quem Somos</font></a>
    </div>
    <div id="h4">
		<a href="Contatos.html" style="text-decoration: none"><font color="orange"><br><br>Marcas</font></a>
    </div>
    <div id="h5">
      <a href="BeModel.html" style="text-decoration: none"><font color="orange"><br><br>BeModel</font></a>
    </div>
    <div id="h6">  
    	<a href="NossasLojas.html" style="text-decoration: none"><font color="orange"><br><br>Nossas Lojas</font></a>
    </div>
    <div id ="h7">
    	<a href="FaleConosco.html" style="text-decoration: none"><font color="orange"><br><br>Fale Conosco</font></a>
	</div>	
	<div id="accordion">	
		<div id="titulo">
			<img src="imagens/sobreSpevitadas.jpg">
		</div>
		<div id="descricao">
			Spevitadas é uma loja de roupas que tem como principal<br>
			objetivo inspirar mulheres, não só a vestir-se bem como<br>
			também sentir-se maravilhosa.<br>
			<br>
			Neste site você poderá encontrar a loja mais próxima a você<br>
			e como poderá nos contatar, mais o melhor é a chance de poder<br>
			Se transformar em uma de nossas modelos.<br><br>
			Não deixe de enviar sua foto utilizando uma roupa comprada em<br>
			feita especialmente para você.<br><br>
		</div>
		<div id="titulo2">
			<img src="imagens/conhecaHistoria.jpg">
		</div>
		<div id="descricao2">
			A Spevitadas existe há 10 anos transformando a vida de suas<br>
			clientes!<br><br>
			Criada por 3 irmãs e passada de geração à geração se tornou de<br>
			 uma loja no<br>
			fundo de casa, para uma empresa bastante conhecida nacionalmente.<br>
			Hoje a primeira empresa brasileira a ganhar o premio "Sinta se bem,<br> 
			vista-se bem",<br>
			pela originalidade e a forma como as belezas naturais gbrasileiras são<br>
			representadas em suas coleções.<br>
			</div>
		</div>
	</div>
</div>
	</div>
	<div id="mapa">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3973.470933031372!2d-39.29096259999997!3d-5.188402299999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7bc34ee6ba0c64d%3A0x7c6941984121b966!2sR.+Maria+Zilda+Lopes+Costa%2C+63+-+Jos%C3%A9+A%C3%ADrton+Machado%2C+Quixeramobim+-+CE%2C+63800-000!5e0!3m2!1spt-BR!2sbr!4v1417715092795" width="600" height="450" frameborder="0" style="border:0"></iframe>
	</div>
</body>
</html>